:root {
  --primary: #5C7285;
  --secondary: #818C78;
  --accent: #A7B49E;
  --background: #E2E0C8;
  --text-dark: #5C7285;
  --text-light: white;
  --hover-green: #61ce07;
  --hover-red: red;
}

/* Add this rule at the top of your CSS file, after the :root selector */

* {
  font-family: 'Open Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

/* General Styles */
body {
  background-color: var(--background);
  font-family: 'Open Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  color: var(--text-dark);
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

span, .icon-button, .delete-button {
  color: var(--text-dark);
}

/* Common Card Styles */
.pokemon-card, .pokemon-card-list, .team-container, .gen-card, .pokemon-list-card {
  border: 1px solid var(--primary);
  border-radius: 10px;
  transition: transform 0.3s, box-shadow 0.3s;
  background-color: var(--accent);
  color: var(--primary);
  text-align: center;
  padding: 10px;
  cursor: pointer;
}

.pokemon-card:hover, .pokemon-card-list:hover, .gen-card:hover, .team-container:hover, .pokemon-list-card:hover {
  transform: scale(1.05);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.pokemon-card img, .pokemon-card-list img, .pokemon-list-card img, .gen-card img {
  width: 100px;
  height: 100px;
}

.pokemon-card .types img, .pokemon-card-list .types img {
  width: 4.375em;
  height: 20px;
  image-rendering: crisp-edges;
}

.pokemon-card button, .pokemon-card-list button {
  background: none;
  border: none;
  padding: 0;
}

.pokemon-card button img, .pokemon-card-list button img, .shiny-toggle-image {
  width: 30px;
  height: 30px;
}

.pokemon-card p, .pokemon-card-list p, .pokemon-list-card p {
  margin: 10px 0 0;
}

/* Teams Container */
.team-container {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  margin-bottom: 20px;
  width: fit-content;
  gap: 5px;
}

.team-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.team-container img {
  width: 100px;
}

/* Buttons */
.button, .team-container button, .add-button {
  padding: 10px;
  font-size: 16px;
  background-color: var(--primary);
  border: none;
  color: var(--text-light);
  cursor: pointer;
  border-radius: 5px;
  transition: background 0.3s;
}

.button:hover, .team-container button:hover, .add-button:hover {
  background-color: var(--secondary);
}

.icon-button, .delete-button {
  background: none;
  border: none;
  cursor: pointer;
  font-size: 24px;
  transition: color 0.3s;
}

.icon-button:hover {
  color: var(--hover-green);
}

.delete-button:hover {
  color: var(--hover-red);
}

/* Search Input */
.search-input {
  margin: 10px 0;
  padding: 5px;
  width: 50%;
  max-width: 300px;
  border: 1px solid var(--primary);
  background-color: var(--background);
  border-radius: 5px;
  color: var(--text-dark);
}

/* Generation Containers */
.gen-container {
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: var(--background);
}

.gen-cards {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
  justify-items: center;
}

.gen-card {
  width: 200px;
  height: 150px;
}

.gen-card h2 {
  font-size: 16px;
  margin: 10px 0;
}

/* Responsive Pokemon Grid */
.pokemon-grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(120px, 1fr));
  gap: 20px;
  justify-items: center;
  background-color: var(--background);
}

.pokemon-container, .team-pokemon-container {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: center;
  align-items: center;
}

.team-pokemon-container > * {
  margin: 0;
  padding: 0;
}

/* Generation Span */
.gen-span, .team-gen.gen-span {
  color: var(--primary);
  text-align: center;
  cursor: pointer;
  display: flex;
  justify-content: flex-end;
}

/* Wrapper */
.team-wrapper {
  margin-bottom: 20px;
}

.pokemon-card {
  width: 150px; /* Set a fixed width */
  height: 220px; /* Set a fixed height */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

/* Ensure images within the pokemon-card are centered and have a consistent size */
.pokemon-card img {
  object-fit: contain; /* Ensure the image fits within the specified dimensions */
}